body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-right: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.red,
.green,
.blue {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

#red:not(:checked)~.red {
    display: none;
}
#green:not(:checked)~.green{
    display: none;
}
#blue:not(:checked)~.blue{
    display: none;
}