td {
    margin: 400px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.table1 {
    background-image: url(Без\ названия.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid black;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
}

.table2 {
    float: right;
    margin: -400px;
    margin-right: 10px;
    width: 400px;
    height: 400px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    background-color: #f3fcce3f;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}